<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- fragment che si chiama head e prende un parametro title -->
    <th:block th:fragment="head(pageTitle)">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- includo bootstrap css e js -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
        <link rel="stylesheet" href="style.css">
        <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
        <!-- il title della pagina cambia e lo leggo dal parametro del fragment -->
        <title th:text="${pageTitle}"></title>
    </th:block>
</head>

<body>
<!-- navbar fragment -->
<nav class="navbar navbar-expand-lg" th:fragment="navbar(current)">
    <div class="container-fluid">
        <div class="rounded-circle d-flex justify-content-center align-items-center"
             style="width: 100px; height: 100px;">
            <img src="https://m.media-amazon.com/images/I/71XP8OJOfOL.png" style="max-width: 100%; max-height: 100%;">
        </div>
        <a class="navbar-brand my-text" th:href="@{/}">Papa's Pizza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/papas}"
                       th:classappend="${current== 'our-pizzas' ? 'active' : ''}">Ours pizzas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/papas/create}"
                       th:classappend="${current== 'create' ? 'active' : ''}" sec:authorize="hasAuthority('ADMIN')">Add
                        a new Pizza
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ingredients}"
                       th:classappend="${current== 'ingredients' ? 'active' : ''}"
                       sec:authorize="hasAuthority('ADMIN')">Add Ingredients
                    </a>
                </li>

                <ul>
                    <li>
                        Logged user: <span th:text="${username}"></span>
                    </li>
                    <li>
                        Roles: <span sec:authentication="principal.authorities"></span>
                    </li>

                </ul>


            </ul>
        </div>
        <!-- form di ricerca -->
        <div class="container w-50">
            <form th:action="@{/papas}" method="GET">
                <div class="input-group w-50  ms-auto">
                    <input type="search" class="form-control" placeholder="Search by name or ingredients"
                           name="keyword" th:value="${searchInput}">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>

        </div>

    </div>
</nav>

<!-- fragments.html -->
<th:block th:fragment="return-home">
    <a th:href="@{/papas}" class="btn btn-outline-danger m-5">Back to Home</a>
</th:block>


</body>
</html>