<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/fragments :: head(pageTitle='Ingredients')}"></head>
<body>

<nav th:replace="~{/fragments/fragments :: navbar(current='ingredients')}"></nav>

<h2 class="m-3">Add new Ingredients</h2>

<div class="container ">
    <div class="row ">
        <div class="col-6  d-flex justify-content-between align-items-center flex-wrap">
            <ul class="list-group" th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                <li class="list-group-item d-flex justify-content-between align-items-center m-2">
                    <span class="m-1 " th:text="*{name}"></span>
                    <span class="d-inline-flex">
                        <a class="align-self-center" th:href="@{/ingredients(edit=*{id}, showIngredientForm=true)}">
                          <i class="fa-regular fa-pen-to-square"></i>
                         </a>
                        <form class="d-inline" th:action="@{|/ingredients/delete/*{id}|}" method="post">
                            <button class="btn" type="submit">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-6 ">
            <!-- Link per attivare la visualizzazione del form -->
            <div class="d-flex justify-content-end">
                <a th:href="@{/ingredients(showIngredientForm=true)}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Add Ingredient
                </a>
            </div>


            <div class="d-flex justify-content-end">
                <!-- Mostra il form solo se "showIngredientForm" è impostato su true -->
                <form th:if="${showIngredientForm}" th:action="@{/ingredients/create}" method="post"
                      th:object="${ingredientObj}" id="ingredient-form" class="row">
                    <div class="col">
                        <label class="form-label" for="name">Name's ingredient</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="name" th:field="*{name}"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-text">Name is required</div>
                    </div>

                    <div class="d-flex flex-column justify-content-center align-items-end">
                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <th:block th:replace="fragments/fragments :: return-home"></th:block>
</div>


</body>
</html>