<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/fragments :: head}"
      th:with="pageTitle=${pizza.id == null ? 'Add a new Pizza' : 'Edit Pizza'}">
    <title th:text="${pageTitle}"></title>
</head>

<body>
<nav th:replace="~{/fragments/fragments :: navbar(current='create')}"></nav>

<div class="container w-75">
    <h2 th:text="${pizza.id == null ? 'Add a new Pizza' : 'Edit Pizza'}" class="text-danger p-2"></h2>
</div>

<div class="container w-75">
    <form th:action="@{${pizza.id == null ? '/papas/create' : '/papas/edit/' + pizza.id}}" method="post"
          th:object="${pizza}" id="pizza-form" class="row">
        <div class="col-6">
            <label class="form-label" for="pizza-name">Name</label>
            <input class="form-control" type="text" id="pizza-name" th:field="*{name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
            <div class="form-text">Name must not be blank</div>
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label" for="photo">Photo</label>
            <input class="form-control" type="text" id="photo" th:field="*{photo}"
                   th:classappend="${#fields.hasErrors('photo')} ? 'is-invalid' : ''">
            <div class="form-text">Photo is required.</div>
            <div th:if="${#fields.hasErrors('photo')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('photo')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="text" id="price" th:field="*{price}"
                   th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''">
            <div class="form-text">Price must be a positive number.</div>
            <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" rows="5"
                      th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></textarea>
            <div class="form-text">Description is required.</div>
            <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-primary" th:href="@{/papas}">Cancel</a>
        </div>
    </form>
</div>


</body>
</html>