<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/fragments :: head(pageTitle='Our pizzas')}">
</head>
<body>
<div class="container p-3">
    <h2 class="text-danger">
        Ours <span th:text="${pizza.getName}"></span>
    </h2>
</div>
<div class="container p-2">
    <div th:object="${pizza}" class="card" style="width: 18rem;">
        <img th:src="*{photo}" class="card-img-top">
        <div class="card-body">
            <p th:text="*{name}" class="card-text"></p>
            <p th:text="*{'Ingredients: ' + description}" class="card-text"></p>
            <p th:text="*{'Price: ' + price + ' €'}" class="card-text"></p>
        </div>
    </div>
</div>
<!--LISTA DELLE OFFERTE-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Special Offers</th>
        <th scope="col">Start date</th>
        <th scope="col">End Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Inizio off</td>
        <td>fine off</td>
        <td>icons</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Inizio off</td>
        <td>fine off</td>
        <td>icons</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Inizio off</td>
        <td>fine off</td>
        <td>icons</td>
    </tr>
    </tbody>
</table>

<!--bottone crea nuova offerta speciale-->
<div class="container">
    <a th:href="@{/offers/create(pizzaOfferId=${pizza.id})}" class="btn btn-outline-danger m-5">Add a new Special
        Offer</a>
  

    <th:block th:replace="fragments/fragments :: return-home"></th:block>
</div>


</body>
</html>