<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/fragments :: head(pageTitle='Our pizzas')}">
</head>
<body>
<div class="container p-3">
    <h2 class="text-danger">
        Ours <span th:text="${pizza.getName}"></span>
    </h2>
</div>
<div class="container p-2">
    <div th:object="${pizza}" class="card" style="width: 18rem;">
        <img th:src="*{photo}" class="card-img-top">
        <div class="card-body">
            <p th:text="*{name}" class="card-text"></p>
            <p th:text="*{'Ingredients: ' + description}" class="card-text"></p>
            <p th:text="*{'Price: ' + price + ' €'}" class="card-text"></p>
        </div>
    </div>
</div>

<!-- Aggiungi questo codice dopo il div del bottone "Add a new Special Offer" -->

<div class="container p-5" th:if="${specialOffer != null}">
    <h3 class="pb-3">Special Offers</h3>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="specialOffer : ${pizza.specialOffers}">
            <td th:text="${specialOffer.title}"></td>
            <td th:text="${#temporals.format(specialOffer.startDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(specialOffer.endDate, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{/offers/edit/{id}(id=${specialOffer.id})}" class="btn btn-link">
                    <i class="fas fa-edit"></i>
                </a>
                <form class="d-inline" th:action="@{|/offers/delete/${specialOffer.id}|}" method="post">
                    <button class="btn btn-link" type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-info" th:unless="${specialOffer != null}">
    There are no Special Offer
</div>


<!--bottone crea nuova offerta speciale-->
<div class="container">
    <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-outline-danger m-5">Add a new Special
        Offer</a>
    <th:block th:replace="fragments/fragments :: return-home"></th:block>
</div>


</body>
</html>