<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/fragments :: head(pageTitle='Our pizzas')}">

</head>
<body>


<nav th:replace="~{/fragments/fragments :: navbar(current='our-pizzas')}"></nav>


<!--MESSAGGIO DI ERRORE IN CASO DI DATABASE VUOTO -->
<div th:if="${message}" class="text-danger text-center">
    <p th:text="${message}"></p>
</div>

<!--INIZIO SLIDER CHE MOSTRA LA LISTA DELLE PIZZE DISPONIBILI -->
<div class="container w-50 mt-5">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1">
            </button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2">
            </button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3">
            </button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 3">
            </button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 3">
            </button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                    aria-label="Slide 3">
            </button>
        </div>

        <div class="carousel-inner position-relative z-1">
            <!--Overlay per rendere nome e descrizione più leggibili-->
            <div class="w-100 h-100 bg-dark opacity-90 z-3 position-absolute p-5 rounded-3"></div>
            <!--Qui parte il codice che si ripete-->
            <div th:each="pizza, current : ${pizzas}" class="carousel-item"
                 th:classappend="${current.index == 0} ? 'active'">
                <!-- La condizione "current.index == 0" verifica se l'elemento corrente è il primo dell'iterazione. Index è una varibile di stato -->
                <img th:src="${pizza.photo}" class="d-block w-100 img-fluid" alt="pizza">
                <div class="carousel-caption d-none d-md-block" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">
                    <span th:text="${pizza.name}"></span>
                    <span>
                         <a th:href="@{|/papas/${pizza.id}|}">
                            <i class="fa-solid fa-pizza-slice text-white"></i>
                        </a>
                   </span>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</body>
</html>